/*CSS PÁGINA DE CONTATO*/
.section-contato {
    padding:100px;
    margin:100px auto;
    background-color: #0f0c29;
    border-radius:10px;
    box-shadow: 1px 1px 10px #191919;
}
.form-contato {
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}
.form-control {
    width: 200px;
    height:30px;
    border: none;
}
.contatoBtnEnviar {
    width:150px;
    height:40px;
    font-size:1.2rem;
    border: none;
    border-radius: 10px;
}
