/*ESTILIZAÇÃO GERAL*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-size:15px;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #211d4d, #211d4d, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #211d4d, #211d4d, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}
img {
    max-width: 100%;
    max-height: 100%;
}
