@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-size:15px;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #211d4d, #211d4d, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #211d4d, #211d4d, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}
header,
.form-inserir-card,
.section-conteudo-container,
.section-div-botoes,
#card-container {
    display: flex;
}
header,
#card-container {
    justify-content: center;
}
.section-div-botoes {
    height:170px;
}
button,
#urlImg,
#titulo,
#sinopse,
#urlImg:focus,
#titulo:focus {
    border: none;
}
button,
.card :nth-child(1),
header,
#logo {
    border-radius:10px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
header {
    align-items: center;
    background-color: #000;
    margin:20px auto;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position:relative;
    height:130px;
}
header, 
#logo {
    width: 200px;
}
#logo {
    height:125px;
}
button,
#excluir {
    cursor:pointer;
}
button {
    background-color: #000;
    color:#f3f3f3;
    font-size: 1.2rem;
    padding:5px;
}
.form-inserir-card,
#excluir{
    position: absolute;
}
.form-inserir-card,
.section-div-botoes {
    flex-direction: column;
}
.form-inserir-card,
.section-div-botoes {
    gap:10px;
}
.form-inserir-card,
.card :nth-child(1) {
    box-shadow: 1px 1px 10px #191919;

}
.form-inserir-card {
    left:50%;
    bottom:50%;
    transform: translate(-50%);
    width:250px;
    padding:20px;
    z-index:2;
    background-color: #f3f3f3;
    border-radius: 5px;
}
.section-conteudo-container {
    margin:100px;
    gap:100px;
}
.botao-card {
    padding:10px;
}
.card {
    max-width:300px;
    animation-duration: 1s;
}
.card img {
    height:400px;
}
#excluir {
    display: none;
    margin: 10px;
    width:15px;
}
#card-container {
    width:90%;
    height:500px;
    gap:35px;
    flex-wrap: wrap;
}

#urlImg,
#titulo,
#sinopse {
    height:30px;
}
.excluir-card {
    
    border: 5px solid #d34f4f;
    transition: border .1s ease;
}
.excluir-card,
.editar-card {
    padding:5px;
    transform: scale(0.990);
}
.editar-card {
    border: 5px solid #6991e9;
    transition: border .1s ease;
}
@keyframes animacaoCriarCard {
    from {transform: scale(0);}
    to {transform: scale(1);}
}
@keyframes animacaoExcluirCard {
    from {transform: scale(1);}
    to {transform: scale(0);}
}
@keyframes animacaoExpandirHeader {
    from {width:200px;}
    to {width: 33%;}
}
@keyframes animacaoEsconderHeader {
    from {width:33%;}
    to {width: 200px;}
}
@keyframes animacaoLinks {
    from {}
} 

@media (max-width: 1024px) {
    .section-conteudo-container {
        flex-direction: column;
        align-items: center;
    }
    .section-div-botoes {
        position: fixed;
        bottom:10px;
        z-index:2;
        flex-direction: row;
        height:45px;
    }
    .card img {
        min-width:250px;
    }
    .form-inserir-card {
        bottom:20%;
    }
}


.linkHeader {
    opacity: 0;
    color: #fff;
}
.linkContato {
    position: absolute;
    right:10%;
}
.linkEquipe {
    position: absolute;
    left:10%;
}






/*CSS DA PÁGINA DE EQUIPE*/
.section-cards-equipe {
    display: flex;
    flex-wrap: wrap;
    margin:100px;
    justify-content: center;
    gap: 100px;
    padding:10px;
}

.card-equipe {
    display:flex;
    gap:15px;
}
.div-social {
    display: flex;
    gap:10px;
    flex-direction: column;
}
.div-info span {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.2rem;
}
.div-info img {
    width:250px;
    border-radius:10px;
    box-shadow: 1px 1px 5px #000;
}


@media screen and (max-width:548px) {
    header {
        margin-bottom:100px;
    }
    .card-equipe {
        margin:10px;
        min-width:200px;
        flex-direction: column;
    }
    .div-social {
        flex-direction: row;
        justify-content: center;
    }
    @keyframes animacaoExpandirHeader {
        from {width:200px;}
        to {width: 100%;}
    }
    @keyframes animacaoEsconderHeader {
        from {width:100%;}
        to {width: 200px;}
    }
}


/*CSS PÁGINA CONTATO*/
.section-contato {
    padding:100px;
    margin:100px auto;
    background-color: #0f0c29;
    border-radius:10px;
    box-shadow: 1px 1px 10px #191919;
}
.form-contato {
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}
.form-control {
    width: 200px;
    height:30px;
    border: none;
}
.contatoBtnEnviar {
    width:150px;
    height:40px;
    font-size:1.2rem;
    border: none;
    border-radius: 10px;
}
@media (min-width: 400px) {
    .section-contato {
        width:400px;
    }
}